<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="app\static\css\styles.css">
</head>
<body>
    <header>
        <h1>Online Bookstore</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="login.html">Sign In</a></li>
                <li><a href="account_user.html">My Account</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <h2>About Us</h2>
            <p>Welcome to the Online Bookstore. We offer a wide range of books from various genres. Our mission is to provide an easy and efficient way for book lovers to discover and purchase books.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Online Bookstore</p>
    </footer>
    <script src="app\static\css\scripts.js"></script>
</body>
</html>
