<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="app\static\css\styles.css">
</head>
<body>
    <header>
        <h1>My Account</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="account_user.html">My Account</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="account">
            <h2>Account Options</h2>
            <ul>
                <li><a href="order_history">Order History</a></li>
                <li><a href="wishlist">Wishlist</a></li>
                <li><a href="account_settings">Account Settings</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Online Bookstore</p>
    </footer>
    <script src="app\static\css\scripts.js"></script>
</body>
</html>
